.main-nav{
    background: #342171;
    border-bottom: 2px solid #6E359A;
}
.main-nav ul li a{
    font-size: 20px;
}
.contact button.btn {
    background: #FD8F5F !important;
    color: #fff;
}
.main-content{
    background: url(../img/hero/h1_hero.png);
    background-size: cover;
    min-height: 750px;
    overflow: hidden;
}
.main-content .row{
    margin-top: 200px;
}
.input-form input{
    font-size: 20px;
}
.input-form{
    position: relative;
}
form .search-form{
    position: absolute;
    right: 10px;
    top: 10px;
}
form .world-form{
    position: absolute;
    left: 10px;
    top: 10px;
}
.main-content .domain-price-list ul{
    margin-top: 30px;
}
.main-content .domain-price-list ul li{
    display: inline;
    font-size: 24px;
    border-right: 1px solid #fff;
}
.main-content .domain-price-list ul li:last-child{
    border-right: 0;
}
.price-card{
    margin-top: -150px;
    margin-bottom: 100px;
}
.price-card .row .card-body .rate b{
    font-size: 32px;
    color: #FD8F5F;
}
.price-card .row .card span {
    font-size: 20px;
}
.price-card .card{
    box-shadow: 1px 8px 5px #F1F1F1 !important;
}
.card .btn{
    border: 1px solid #FD8F5F;
    margin-top: 10px;
}
.card .btn:hover{
    background: #FD8F5F;
    color: #fff;
}
.cloud{
    background: url(../img/gallery/section_bg01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    overflow: hidden;
}
.cloud p{
    color: #646D77;
    font-size: 20px;
}
.support{
    background: url(../img/gallery/section_bg02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    overflow: hidden;
}
.support .card{
    background: #C57EFC !important;
    font-size: 24px !important;
}
.after-support{
    padding: 60px 0;
}

.customar-story{
    padding: 100px 0;
    background: url(../img/gallery/section_bg04.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.customar-story p,
.customar-story span{
    color: #7a8290;
}
.customar-story .col-lg-6 p{
    font-size: 24px;
}

.faq{
    background: url(../img/gallery/section_bg03.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
}
.faq .container .title-p{
    font-size: 20px;
    color: #FFFFFF99;
}
.faq .row span{
    font-size: 24px;
    padding-top: 5px;
}
.faq .row .col-11 p{
    color: #FFFFFF99;
    font-size: 20px;
    padding-top: 20px;
}

.commitment{
    padding: 20px 0;
}
.commitment .col-lg-4{
    padding-top: 100px;
}
.commitment p{
    font-size: 20px;
    color: #7D6D77;
    padding-bottom: 20px;
}
.commitment .btn{
    border: 1px solid #FD8F5F;
}
.commitment .btn a{
    color: #FD8F5F;
    font-size: 20px;
    display: block;
    padding: 0 20px;
}
.commitment .btn:hover {
    background: #FD8F5F;
}
.commitment .btn:hover a{
    color: #fff;
    text-decoration: none !important;
}

.help{
    padding: 60px 0;
    background: #F8FCFF;
}
.help p{
    font-size: 20px;
    color: #7D6D77;
}
.help .btn{
    background: #FD8F5F;
    color:#fff;
    font-size: 20px;
}
.help .btn:hover{
    background: transparent;
    border: 1px solid #FD8F5F;
    color: #FD8F5F;
}

footer{
    background: url(../img/gallery/footer_bg.png);
    background-size: cover;
    padding: 60px 0;
}
footer .col-lg-4 .btn{
    background: #FD8F5F;
}
footer .fab{
    color: #FFF;
    padding: 10px;
    border-radius: 50%;
    border:  2px solid #FD8F5F;
}


/* Media Query */
@media screen and (max-width: 991px){
    .main-content .domain-price-list ul li{
        border-right: 1px solid transparent;
    }
}